n8n/asistente.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [],
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angie, AI Assistant 👩🏻‍🏫": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Angie, AI Assistant 👩🏻‍🏫",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T02:24:59.962Z",
  "id": "TpE4jgK8weGE0mlp",
  "isArchived": false,
  "meta": null,
  "name": "asistente",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "derekcheungsa@gmail.com",
          "cachedResultName": "derekcheungsa@gmail.com"
        },
        "options": {
          "timeMin": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}",
          "fields": "=items(summary, start(dateTime))"
        }
      },
      "id": "83c69144-84a8-43a5-b4b2-4be93e802b72",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1632,
        464
      ],
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{$fromAI(\"date\",\"the date after which to fetch the messages in format YYYY-MM-DDTHH:MM:SS\")}}"
        }
      },
      "id": "fe544da3-0fe9-49a3-b816-4668de1cf772",
      "name": "Get Email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1504,
        464
      ],
      "typeVersion": 2.1,
      "webhookId": "43b05fb8-2271-47e6-9cbe-9ac4630ca51b",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1a0baa72-ccc4-46bc-b127-1947fe41c962",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        464,
        144
      ],
      "webhookId": "322dce18-f93e-4f86-b9b1-3305519b7834",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "jH8DKgG67jUGt9vX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "ca58bf7e-c4ff-4639-b9ce-0f3e4cad8be6",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1904,
        144
      ],
      "typeVersion": 1.1,
      "webhookId": "c30de6f8-c28f-4b7a-b631-30ea7601737a",
      "credentials": {
        "telegramApi": {
          "id": "jH8DKgG67jUGt9vX",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "f19c8cee-8fb4-40bf-a302-e1e8e0ae72e2",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        832,
        144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e16d8f3-187a-4cc0-a8ff-4fb1375312ee",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        144
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Eres un asistente servicial.\n\nLa fecha de hoy es {{ $now }}.\n\nPautas:\n- Cuando busques correos, excluye los que sean de promoción.\n- Al hacer un resumen de un correo, debes incluir: Remitente, Fecha, Asunto y un breve resumen del contenido.\n- Si el usuario no indica una fecha, asume por defecto que se refiere al día de hoy.\n- Para preguntas relacionadas con tareas, utiliza la herramienta Baserow.\n- Responde a preguntas sobre el calendario mostrando solo los eventos relevantes. Por ejemplo, si te preguntan por hoy, muestra solo los eventos de hoy.\n- No informes sobre eventos futuros que vayan a ocurrir en más de una semana."
        }
      },
      "id": "8f67d1ea-35fb-4195-b844-5c838d9bf659",
      "name": "Angie, AI Assistant 👩🏻‍🏫",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1408,
        144
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "content": "## Process Telegram Request\n",
        "height": 278.75,
        "width": 496.25,
        "color": 5
      },
      "id": "d29a29f4-e623-4d28-b474-a0d9f407e56d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "databaseId": 279371,
        "tableId": 652714,
        "additionalOptions": {}
      },
      "id": "14042853-3d62-4277-8b8f-0eff6c26f3e9",
      "name": "Tasks",
      "type": "n8n-nodes-base.baserowTool",
      "position": [
        1744,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "baserowApi": {
          "id": "0V68ihxDlVAPeSMq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Useful for getting contact information.  For example emails or phone numbers.",
        "databaseId": 279371,
        "tableId": 652716,
        "additionalOptions": {}
      },
      "id": "53beccde-12a9-4d84-a04b-9865dd785d12",
      "name": "Contacts",
      "type": "n8n-nodes-base.baserowTool",
      "position": [
        1872,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "baserowApi": {
          "id": "0V68ihxDlVAPeSMq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![Building an AI Personal Assistant](https://img.youtube.com/vi/pXjowPc6V2s/sddefault.jpg)](https://youtu.be/pXjowPc6V2s)\n",
        "height": 389.78268107403096,
        "width": 386.9292441979969,
        "color": 5
      },
      "id": "348ca41c-5c30-4bd6-a3f8-a8183e8bf47c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        464
      ],
      "id": "4488c4c8-0f30-43e8-8533-2fb033a43937",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bqQEfUn2F2rNgmbS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "databaseName": "model"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1520,
        304
      ],
      "id": "310dc2f4-88c3-495e-83ab-5a691c59ca8c",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "Dquk6qU1mXON8Aw9",
          "name": "MongoDB account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T02:58:50.000Z",
  "versionId": "76c7e2ad-6dbd-47f8-b98d-113fafad1f3a"
}