n8n/Build your first email agent with fall back model.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-05T03:01:31.000Z",
    "createdAt": "2026-02-05T02:59:58.481Z",
    "versionId": "55bea35f-9f93-4b5d-a52f-84df9cc11830",
    "workflowId": "apW36W0AXisJeCUD",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "f0b98197-e512-41ca-9d80-9dda849ec39c",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.Subject }} {{ $json.snippet }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "\n## Primary Role\nYou are a professional customer support AI agent that processes incoming Gmail messages, provides helpful responses to customers, and logs all support requests for tracking purposes.\n\n## Core Responsibilities\n\n### 1. Email Analysis & Response\n- **Read and analyze** each incoming email carefully\n- **Identify the type of request**: technical issue, billing question, feature request, complaint, general inquiry, etc.\n- **Determine urgency level**: Low, Medium, High, Critical\n- **Extract key information**: customer details, issue description, requested action, timeline expectations\n\n### 2. Customer Reply Generation\nGenerate professional, helpful, and empathetic email responses that:\n- **Acknowledge** the customer's concern promptly\n- **Provide clear solutions** or next steps when possible\n- **Set appropriate expectations** for resolution timeline\n- **Maintain a friendly, professional tone**\n- **Include relevant resources** (links, documentation, FAQs) when helpful\n- **Ask clarifying questions** if more information is needed\n- **Escalate to human support** when issues are complex or sensitive\n\n### 3. Google Sheets Logging\nFor every email processed, log the following information:\n- **Date/Time**: When the email was received\n- **Customer Email**: Sender's email address\n- **Customer Name**: If available\n- **Subject Line**: Email subject\n- **Request Type**: Category (Technical, Billing, Feature Request, etc.)\n- **Priority Level**: Low/Medium/High/Critical\n- **Issue Summary**: Brief description (2-3 sentences max)\n- **Status**: New/In Progress/Resolved/Escalated\n- **Response Sent**: Yes/No\n- **Follow-up Required**: Yes/No/Date\n- **Agent Notes**: Any additional context or actions taken\n\n## Response Templates & Guidelines\n\n### Standard Greeting\n\"Hi [Customer Name],\n\nThank you for reaching out to us. I've received your message regarding [brief issue summary].\"\n\n### Common Scenarios\n\n**Technical Issues:**\n- Acknowledge the frustration\n- Provide step-by-step troubleshooting\n- Offer alternative solutions\n- Set expectations for resolution\n\n**Billing Questions:**\n- Confirm account details (without exposing sensitive info)\n- Explain charges clearly\n- Provide next steps for disputes\n- Include relevant billing resources\n\n**Feature Requests:**\n- Thank them for the suggestion\n- Explain current roadmap (if applicable)\n- Suggest workarounds if available\n- Confirm request has been logged for product team\n\n**Complaints:**\n- Acknowledge their concern with empathy\n- Take responsibility where appropriate\n- Outline steps to resolve\n- Offer compensation if warranted\n\n### Escalation Criteria\nEscalate to human support when:\n- Customer is extremely upset or threatening\n- Issue involves sensitive account information\n- Technical problem requires developer intervention\n- Billing dispute over significant amount\n- Legal or compliance matters\n- Multiple failed resolution attempts\n\n### Tone Guidelines\n- **Professional** yet conversational\n- **Empathetic** and understanding\n- **Clear** and concise\n- **Proactive** in offering solutions\n- **Apologetic** when appropriate (without admitting fault unnecessarily)\n\n## Memory & Context Management\n- **Remember** previous interactions with the same customer\n- **Reference** past solutions or conversations when relevant\n- **Track** ongoing issues to ensure continuity\n- **Note** customer preferences or special circumstances\n\n## Quality Standards\n- **Response time**: Aim for acknowledgment within 1 hour during business hours\n- **Accuracy**: Ensure all information provided is correct and up-to-date\n- **Completeness**: Address all questions/concerns in the customer's email\n- **Follow-up**: Set reminders for promised callbacks or updates\n\n## Example Response Format\n\nSubject: Re: [Original Subject] - We're here to help!\n\nHi [Customer Name],\n\nThank you for contacting us about [issue]. I understand [acknowledge their concern/situation].\n\n[Provide solution/next steps/information requested]\n\n[If applicable: set expectations, provide timeline, or explain next steps]\n\nIs there anything else I can help you with today? We're always here to support you.\n\nBest regards,\n[Your Name]\nCustomer Support Team\n\n---\n\n**Note**: Always maintain customer privacy and confidentiality. Never share sensitive information inappropriately, and ensure all logging complies with data protection standards."
          }
        },
        "id": "d44f4ee8-ccea-4647-bc58-ee7dd41f8aa0",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          -2464,
          -16
        ],
        "typeVersion": 2.1
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {}
        },
        "id": "51f240c7-19ea-4cda-84ae-9831837d9934",
        "name": "Gmail Trigger",
        "type": "n8n-nodes-base.gmailTrigger",
        "position": [
          -2784,
          -16
        ],
        "typeVersion": 1.2,
        "credentials": {
          "gmailOAuth2": {
            "id": "mayeMSF1FPf1LqRS",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Gmail Trigger').item.json.id }}"
        },
        "id": "c3c99346-8381-42cd-b955-aeaf185ac178",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          -2304,
          448
        ],
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "17WQhypoz8Ox5oZfMAimzVkEjkFUb8uMnaZNGb4UTCio",
            "mode": "list",
            "cachedResultName": "soporte",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17WQhypoz8Ox5oZfMAimzVkEjkFUb8uMnaZNGb4UTCio/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17WQhypoz8Ox5oZfMAimzVkEjkFUb8uMnaZNGb4UTCio/edit#gid=0"
          },
          "columns": {
            "value": {
              "email address ": "={{ $('Gmail Trigger').item.json.To }}"
            },
            "schema": [
              {
                "id": "customer_name",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "customer_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "email address ",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "email address ",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Service type",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Service type",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "appointment date",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "appointment date",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "estimated duration",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "estimated duration",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "estimated price",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "estimated price",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "stylist name",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "stylist name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "hair length",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "hair length",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "phone number ",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "phone number ",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "customer_name"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "3f251b98-589a-4ae3-b6c6-8e9b8f225bc8",
        "name": "Append or update row in sheet in Google Sheets",
        "type": "n8n-nodes-base.googleSheetsTool",
        "position": [
          -2224,
          256
        ],
        "typeVersion": 4.6,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "3ybvlewuNLR6n5WG",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "# 🤖 Your First Email Agent with Fallback Model\n\n## 📧 What This Workflow Does\nThis automation creates an intelligent email support system that:\n- **Monitors Gmail** for new customer emails\n- **Processes requests** using AI with smart fallback options\n- **Sends personalized replies** automatically\n- **Logs everything** to Google Sheets for tracking\n\n## 🔄 How the Fallback Model Works\n\n### Primary Model: Google Gemini Chat\n- **Fast & Cost-Effective** - Handles 90% of standard support queries\n- **Great for**: FAQ responses, basic troubleshooting, general inquiries\n\n### Fallback Model: OpenAI GPT\n- **Kicks in when** Gemini fails or encounters complex queries\n- **Better for**: Nuanced responses, technical issues, edge cases\n- **Higher accuracy** for complex customer situations\n\n## 🏗️ Workflow Architecture\n\n```\nGmail Trigger → AI Agent → Response Decision → Actions\n                   ↓\n            [Primary Model]\n                   ↓\n            [Fallback Model] ← (if needed)\n                   ↓\n         [Send Reply + Log Data]\n```\n",
          "height": 848,
          "width": 768
        },
        "id": "2582f519-9613-4b6e-ae00-c12fc5ff704f",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -3856,
          -368
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "\n## 💡 Why Use a Fallback Model?\n\n### Reliability\n- **99.9% uptime** - If one model fails, the other continues\n- **No missed emails** - Every customer gets a response\n\n### Cost Optimization\n- **Use cheaper models first** (Gemini) for simple queries\n- **Reserve premium models** (GPT-4) for complex cases\n- **Reduce API costs** by 60-80%\n\n### Quality Assurance\n- **Best of both worlds** - Speed + accuracy\n- **Consistent responses** even during API outages\n- **Improved customer satisfaction**\n\n\n## 🚀 Getting Started Checklist\n\n- [ ] **Gmail account** with API access enabled\n- [ ] **Google Sheets** document created\n- [ ] **Gemini API key** (primary model)\n- [ ] **OpenAI API key** (fallback model)\n- [ ] **N8N instance** running\n- [ ] **Import this workflow** and configure credentials\n\n## 📊 What Gets Logged\n- Customer email & timestamp\n- Request type & priority level\n- Which AI model responded\n- Response time & success rate\n- Follow-up requirements\n\n## 🔧 Customization Options\n- **Modify response templates** for your brand voice\n- **Add more fallback models** (Claude, etc.)\n- **Create custom triggers** (Slack, Discord, etc.)\n- **Build escalation rules** for human handoff\n\n## 💭 Learning Outcomes\nAfter building this workflow, you'll understand:\n- **AI model orchestration** strategiess  \n- **Customer service** automation best practices\n- **Multi-model AI** implementation patterns\n\n---\n\n\n\n**🎓 Educational Focus**: This isn't just automation - it's your introduction to building resilient, intelligent systems that handle real-world business challenges.",
          "height": 1360,
          "width": 640
        },
        "id": "a44d4701-8e2e-45f8-919d-e53e6ff1e02f",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1680,
          -528
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 🎯 Perfect for Beginners Because:\n\n### Simple Setup\n- **Drag & drop** workflow design\n- **Pre-built integrations** with Gmail & Sheets\n- **Copy-paste ready** - Just add your API keys\n\n### Educational Value\n- **Learn AI orchestration** concepts\n- **Understand fallback patterns** in automation\n- **See real-world AI applications** in action\n\n### Immediate Results\n- **Works out of the box** with minimal configuration\n- **See responses** within minutes of setup\n- **Track performance** in Google Sheets dashboard\n",
          "height": 448,
          "width": 464
        },
        "id": "f2e1d102-ecfd-4df1-b9f3-fe17a9381ebe",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2960,
          -512
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "cb116663-8b60-46b1-a4a9-6e233486a64b",
        "name": "Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          -2944,
          272
        ],
        "typeVersion": 1,
        "credentials": {
          "googlePalmApi": {
            "id": "bqQEfUn2F2rNgmbS",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Ai Models",
          "height": 224
        },
        "id": "dd373a27-c03b-4528-a8ea-8f1a69196796",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2960,
          176
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "thread",
          "operation": "reply",
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "message": "={{ $json.output }}",
          "options": {}
        },
        "id": "fc203368-d58f-4219-837b-368f280f1696",
        "name": "Reply to a message(Thread)",
        "type": "n8n-nodes-base.gmail",
        "position": [
          -1968,
          -16
        ],
        "webhookId": "c3d3ef78-4b9a-4392-8b21-497aa09e33af",
        "typeVersion": 2.1,
        "credentials": {
          "gmailOAuth2": {
            "id": "mayeMSF1FPf1LqRS",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Gmail Trigger').item.json.id }}",
          "databaseName": "model"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
        "typeVersion": 1,
        "position": [
          -2432,
          240
        ],
        "id": "c369ea73-f29e-451a-999b-bbdc176cb199",
        "name": "MongoDB Chat Memory",
        "credentials": {
          "mongoDb": {
            "id": "BnGVpEkccvc6ypKL",
            "name": "MongoDB account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "gpt-4o"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -2800,
          256
        ],
        "id": "cb10a0a0-7a30-41c2-b7ae-75d0d64d817a",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "ElmB5CIPfQGsV5Pw",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Reply to a message(Thread)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          []
        ]
      },
      "Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Append or update row in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          []
        ]
      }
    },
    "authors": "Carlos Ruiz",
    "name": "Version 55bea35f",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "55bea35f-9f93-4b5d-a52f-84df9cc11830",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message(Thread)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "createdAt": "2025-12-24T01:12:39.025Z",
  "id": "apW36W0AXisJeCUD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Build your first email agent with fall back model",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f0b98197-e512-41ca-9d80-9dda849ec39c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Subject }} {{ $json.snippet }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "\n## Primary Role\nYou are a professional customer support AI agent that processes incoming Gmail messages, provides helpful responses to customers, and logs all support requests for tracking purposes.\n\n## Core Responsibilities\n\n### 1. Email Analysis & Response\n- **Read and analyze** each incoming email carefully\n- **Identify the type of request**: technical issue, billing question, feature request, complaint, general inquiry, etc.\n- **Determine urgency level**: Low, Medium, High, Critical\n- **Extract key information**: customer details, issue description, requested action, timeline expectations\n\n### 2. Customer Reply Generation\nGenerate professional, helpful, and empathetic email responses that:\n- **Acknowledge** the customer's concern promptly\n- **Provide clear solutions** or next steps when possible\n- **Set appropriate expectations** for resolution timeline\n- **Maintain a friendly, professional tone**\n- **Include relevant resources** (links, documentation, FAQs) when helpful\n- **Ask clarifying questions** if more information is needed\n- **Escalate to human support** when issues are complex or sensitive\n\n### 3. Google Sheets Logging\nFor every email processed, log the following information:\n- **Date/Time**: When the email was received\n- **Customer Email**: Sender's email address\n- **Customer Name**: If available\n- **Subject Line**: Email subject\n- **Request Type**: Category (Technical, Billing, Feature Request, etc.)\n- **Priority Level**: Low/Medium/High/Critical\n- **Issue Summary**: Brief description (2-3 sentences max)\n- **Status**: New/In Progress/Resolved/Escalated\n- **Response Sent**: Yes/No\n- **Follow-up Required**: Yes/No/Date\n- **Agent Notes**: Any additional context or actions taken\n\n## Response Templates & Guidelines\n\n### Standard Greeting\n\"Hi [Customer Name],\n\nThank you for reaching out to us. I've received your message regarding [brief issue summary].\"\n\n### Common Scenarios\n\n**Technical Issues:**\n- Acknowledge the frustration\n- Provide step-by-step troubleshooting\n- Offer alternative solutions\n- Set expectations for resolution\n\n**Billing Questions:**\n- Confirm account details (without exposing sensitive info)\n- Explain charges clearly\n- Provide next steps for disputes\n- Include relevant billing resources\n\n**Feature Requests:**\n- Thank them for the suggestion\n- Explain current roadmap (if applicable)\n- Suggest workarounds if available\n- Confirm request has been logged for product team\n\n**Complaints:**\n- Acknowledge their concern with empathy\n- Take responsibility where appropriate\n- Outline steps to resolve\n- Offer compensation if warranted\n\n### Escalation Criteria\nEscalate to human support when:\n- Customer is extremely upset or threatening\n- Issue involves sensitive account information\n- Technical problem requires developer intervention\n- Billing dispute over significant amount\n- Legal or compliance matters\n- Multiple failed resolution attempts\n\n### Tone Guidelines\n- **Professional** yet conversational\n- **Empathetic** and understanding\n- **Clear** and concise\n- **Proactive** in offering solutions\n- **Apologetic** when appropriate (without admitting fault unnecessarily)\n\n## Memory & Context Management\n- **Remember** previous interactions with the same customer\n- **Reference** past solutions or conversations when relevant\n- **Track** ongoing issues to ensure continuity\n- **Note** customer preferences or special circumstances\n\n## Quality Standards\n- **Response time**: Aim for acknowledgment within 1 hour during business hours\n- **Accuracy**: Ensure all information provided is correct and up-to-date\n- **Completeness**: Address all questions/concerns in the customer's email\n- **Follow-up**: Set reminders for promised callbacks or updates\n\n## Example Response Format\n\nSubject: Re: [Original Subject] - We're here to help!\n\nHi [Customer Name],\n\nThank you for contacting us about [issue]. I understand [acknowledge their concern/situation].\n\n[Provide solution/next steps/information requested]\n\n[If applicable: set expectations, provide timeline, or explain next steps]\n\nIs there anything else I can help you with today? We're always here to support you.\n\nBest regards,\n[Your Name]\nCustomer Support Team\n\n---\n\n**Note**: Always maintain customer privacy and confidentiality. Never share sensitive information inappropriately, and ensure all logging complies with data protection standards."
        }
      },
      "id": "d44f4ee8-ccea-4647-bc58-ee7dd41f8aa0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2464,
        -16
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "51f240c7-19ea-4cda-84ae-9831837d9934",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -2784,
        -16
      ],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "mayeMSF1FPf1LqRS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "id": "c3c99346-8381-42cd-b955-aeaf185ac178",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -2304,
        448
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "17WQhypoz8Ox5oZfMAimzVkEjkFUb8uMnaZNGb4UTCio",
          "mode": "list",
          "cachedResultName": "soporte",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17WQhypoz8Ox5oZfMAimzVkEjkFUb8uMnaZNGb4UTCio/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17WQhypoz8Ox5oZfMAimzVkEjkFUb8uMnaZNGb4UTCio/edit#gid=0"
        },
        "columns": {
          "value": {
            "email address ": "={{ $('Gmail Trigger').item.json.To }}"
          },
          "schema": [
            {
              "id": "customer_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "customer_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email address ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "email address ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Service type",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Service type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "appointment date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "estimated duration",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "estimated duration",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "estimated price",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "estimated price",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "stylist name",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "stylist name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "hair length",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "hair length",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone number ",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "phone number ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "customer_name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3f251b98-589a-4ae3-b6c6-8e9b8f225bc8",
      "name": "Append or update row in sheet in Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        -2224,
        256
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ybvlewuNLR6n5WG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🤖 Your First Email Agent with Fallback Model\n\n## 📧 What This Workflow Does\nThis automation creates an intelligent email support system that:\n- **Monitors Gmail** for new customer emails\n- **Processes requests** using AI with smart fallback options\n- **Sends personalized replies** automatically\n- **Logs everything** to Google Sheets for tracking\n\n## 🔄 How the Fallback Model Works\n\n### Primary Model: Google Gemini Chat\n- **Fast & Cost-Effective** - Handles 90% of standard support queries\n- **Great for**: FAQ responses, basic troubleshooting, general inquiries\n\n### Fallback Model: OpenAI GPT\n- **Kicks in when** Gemini fails or encounters complex queries\n- **Better for**: Nuanced responses, technical issues, edge cases\n- **Higher accuracy** for complex customer situations\n\n## 🏗️ Workflow Architecture\n\n```\nGmail Trigger → AI Agent → Response Decision → Actions\n                   ↓\n            [Primary Model]\n                   ↓\n            [Fallback Model] ← (if needed)\n                   ↓\n         [Send Reply + Log Data]\n```\n",
        "height": 848,
        "width": 768
      },
      "id": "2582f519-9613-4b6e-ae00-c12fc5ff704f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3856,
        -368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n## 💡 Why Use a Fallback Model?\n\n### Reliability\n- **99.9% uptime** - If one model fails, the other continues\n- **No missed emails** - Every customer gets a response\n\n### Cost Optimization\n- **Use cheaper models first** (Gemini) for simple queries\n- **Reserve premium models** (GPT-4) for complex cases\n- **Reduce API costs** by 60-80%\n\n### Quality Assurance\n- **Best of both worlds** - Speed + accuracy\n- **Consistent responses** even during API outages\n- **Improved customer satisfaction**\n\n\n## 🚀 Getting Started Checklist\n\n- [ ] **Gmail account** with API access enabled\n- [ ] **Google Sheets** document created\n- [ ] **Gemini API key** (primary model)\n- [ ] **OpenAI API key** (fallback model)\n- [ ] **N8N instance** running\n- [ ] **Import this workflow** and configure credentials\n\n## 📊 What Gets Logged\n- Customer email & timestamp\n- Request type & priority level\n- Which AI model responded\n- Response time & success rate\n- Follow-up requirements\n\n## 🔧 Customization Options\n- **Modify response templates** for your brand voice\n- **Add more fallback models** (Claude, etc.)\n- **Create custom triggers** (Slack, Discord, etc.)\n- **Build escalation rules** for human handoff\n\n## 💭 Learning Outcomes\nAfter building this workflow, you'll understand:\n- **AI model orchestration** strategiess  \n- **Customer service** automation best practices\n- **Multi-model AI** implementation patterns\n\n---\n\n\n\n**🎓 Educational Focus**: This isn't just automation - it's your introduction to building resilient, intelligent systems that handle real-world business challenges.",
        "height": 1360,
        "width": 640
      },
      "id": "a44d4701-8e2e-45f8-919d-e53e6ff1e02f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        -528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🎯 Perfect for Beginners Because:\n\n### Simple Setup\n- **Drag & drop** workflow design\n- **Pre-built integrations** with Gmail & Sheets\n- **Copy-paste ready** - Just add your API keys\n\n### Educational Value\n- **Learn AI orchestration** concepts\n- **Understand fallback patterns** in automation\n- **See real-world AI applications** in action\n\n### Immediate Results\n- **Works out of the box** with minimal configuration\n- **See responses** within minutes of setup\n- **Track performance** in Google Sheets dashboard\n",
        "height": 448,
        "width": 464
      },
      "id": "f2e1d102-ecfd-4df1-b9f3-fe17a9381ebe",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2960,
        -512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cb116663-8b60-46b1-a4a9-6e233486a64b",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -2944,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "bqQEfUn2F2rNgmbS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ai Models",
        "height": 224
      },
      "id": "dd373a27-c03b-4528-a8ea-8f1a69196796",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2960,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Gmail Trigger').item.json.id }}",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "fc203368-d58f-4219-837b-368f280f1696",
      "name": "Reply to a message(Thread)",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -1968,
        -16
      ],
      "webhookId": "c3d3ef78-4b9a-4392-8b21-497aa09e33af",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "mayeMSF1FPf1LqRS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.id }}",
        "databaseName": "model"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -2432,
        240
      ],
      "id": "c369ea73-f29e-451a-999b-bbdc176cb199",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "BnGVpEkccvc6ypKL",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2800,
        256
      ],
      "id": "cb10a0a0-7a30-41c2-b7ae-75d0d64d817a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ElmB5CIPfQGsV5Pw",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-24T01:12:39.133Z",
      "createdAt": "2025-12-24T01:12:39.133Z",
      "role": "workflow:owner",
      "workflowId": "apW36W0AXisJeCUD",
      "projectId": "Lv3MLaxzN78Feywb"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1770266292,
        "possibleDuplicates": [
          "19c2c17efe1f36de",
          "19c2bbf9baf94754"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-05T02:59:58.416Z",
  "versionId": "55bea35f-9f93-4b5d-a52f-84df9cc11830"
}