n8n/Pokemon.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute No-SQL query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item List Output Parser": {
      "ai_outputParser": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-30T19:59:54.178Z",
  "id": "PqeIhoq3SwAjIHLq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Pokemon",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "7ba56881-22bc-49ce-a702-5edf3b4c7a91",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -16,
        -48
      ],
      "webhookId": "cf1de04f-3e38-426c-89f0-3bdb110a5dcf",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### 👨‍🎤 Setup\n1. Add your **postgresql** and **OpenAI** credentials.\n2. Click **Chat** button and start asking questions to your database.\n3. Activate the workflow and you can make the chat publicly available.",
        "height": 120,
        "width": 560,
        "color": 5
      },
      "id": "ae1ed4e4-d337-4bb7-99f9-8b51371311a9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "🛠️ Tools Used:\n1. Execute SQL Query: Used to execute any query generated by the agent.\n2. Get DB Schema and Tables List: It returns the list of all the tables with its schema name.\n3. Get Table Definition: It returns table details like column names, foreign keys and more of a particular table in a schema.",
        "height": 156,
        "width": 562,
        "color": 7
      },
      "id": "be2e6b17-4dbe-44d9-a1c8-44fec7727274",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "👆 You can exchange this with any other chat model of your choice.",
        "height": 99,
        "width": 162,
        "color": 7
      },
      "id": "9356b4a5-1e35-41c0-872c-80072b47ce53",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "👆 You can change how many number of messages to keep using `Context Window Length` option. It's 5 by default.",
        "height": 159,
        "width": 162,
        "color": 7
      },
      "id": "f93dce97-e284-449a-9cb6-95aa56aa98a8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "collection": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Collection', ``, 'string') }}",
        "options": {},
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query__JSON_Format_', ``, 'json') }}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.1,
      "position": [
        464,
        224
      ],
      "id": "3da4255c-a5db-4f44-b310-928a48d1ad5c",
      "name": "Execute No-SQL query",
      "credentials": {
        "mongoDb": {
          "id": "Dquk6qU1mXON8Aw9",
          "name": "MongoDB account 2"
        }
      }
    },
    {
      "parameters": {
        "databaseName": "model"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "601d6cdf-c787-4ac6-81e3-80aaaa09f891",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "BnGVpEkccvc6ypKL",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente experto en N8N y MongoDB. Tu única función es convertir una pregunta del usuario sobre Pokémon en un filtro JSON válido para una operación \"Find\" de MongoDB.\n\nLa colección de Pokémon tiene la siguiente estructura de campos relevantes para la búsqueda:\n- `name`: (String) El nombre del Pokémon. Ejemplo: \"Bulbasaur\"\n- `id`: (String) El ID del Pokémon. Ejemplo: \"001\"\n\nReglas de conversión:\n1.  Si el usuario pregunta por un **nombre** (ej. \"Bulbasaur\", \"quién es pikachu\", \"info de charmander\"), genera un filtro de búsqueda por el campo `name`. Debes usar una expresión regular (`$regex`) con la opción `i` (`$options: \"i\"`) para que la búsqueda no distinga mayúsculas de minúsculas.\n2.  Si el usuario pregunta por un **ID** (ej. \"001\", \"el pokémon 25\", \"dame al 150\"), genera un filtro de búsqueda por el campo `id`.\n3.  Tu respuesta debe ser *únicamente* el objeto JSON del filtro. No incluyas texto explicativo, ni \"```json\", ni saludos, ni ningún otro texto.\n\nEjemplos:\n\nUsuario: \"Busca a Bulbasaur\"\nTu Respuesta:\n{\"name\": {\"$regex\": \"Bulbasaur\", \"$options\": \"i\"}}\n\nUsuario: \"Dame la información del pokémon con id 001\"\nTu Respuesta:\n{\"id\": \"001\"}\n\nUsuario: \"quién es pikachu\"\nTu Respuesta:\n{\"name\": {\"$regex\": \"pikachu\", \"$options\": \"i\"}}\n\nUsuario: \"el número 150\"\nTu Respuesta:\n{\"id\": \"150\"}\n\nUsuario: \"Charizard\"\nTu Respuesta:\n{\"name\": {\"$regex\": \"Charizard\", \"$options\": \"i\"}}\n\nAhora, procesa la siguiente entrada del usuario:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        240,
        -48
      ],
      "id": "e3aa4ec0-d194-4138-81ec-55075d2f6daa",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        592,
        -48
      ],
      "id": "84b4a324-658e-4a71-8ec9-c069dc1e72f5",
      "name": "Respond to Chat",
      "webhookId": "1d3ad3cc-8608-4eab-a681-2570d259359d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserItemList",
      "typeVersion": 1,
      "position": [
        576,
        256
      ],
      "id": "6589a852-cb28-42ba-8e64-6fede60e2361",
      "name": "Item List Output Parser"
    },
    {
      "parameters": {
        "model": "gemma4:31b-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        224,
        176
      ],
      "id": "b2c1cf9a-8191-4ac3-8c84-4c238da95358",
      "name": "Ollama Chat Model",
      "notesInFlow": false,
      "credentials": {
        "ollamaApi": {
          "id": "ULhS3alID8FAZMvP",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2025-04-30T19:59:54.183Z",
      "createdAt": "2025-04-30T19:59:54.183Z",
      "role": "workflow:owner",
      "workflowId": "PqeIhoq3SwAjIHLq",
      "projectId": "Lv3MLaxzN78Feywb"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-20T19:49:36.989Z",
  "versionId": "066a6e57-f11c-4cd9-bc73-37269a121402"
}