n8n/Whatsapp.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-21T01:56:24.000Z",
    "createdAt": "2026-05-21T01:56:13.076Z",
    "versionId": "fe592047-51aa-4bc7-b642-b89bc1a99d53",
    "workflowId": "UZyv5U6vRGz6ywlV",
    "nodes": [
      {
        "parameters": {
          "databaseName": "models"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
        "typeVersion": 1.1,
        "position": [
          528,
          224
        ],
        "id": "449b026a-6413-44ce-89e7-56f4d0b888ae",
        "name": "MongoDB Chat Memory",
        "credentials": {
          "mongoDb": {
            "id": "BnGVpEkccvc6ypKL",
            "name": "MongoDB account"
          }
        }
      },
      {
        "parameters": {
          "sessionId": "374a60dc-ffa3-4c76-8f83-33ad91227271"
        },
        "type": "@rmyndharis/n8n-nodes-openwa.openWaTrigger",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "bb939894-7ba3-4b54-950f-cbfda7617242",
        "name": "OpenWA Trigger",
        "webhookId": "03bfcbed-df56-4186-b449-9a6a5734c588",
        "credentials": {
          "openWaApi": {
            "id": "03MOf7uO4ZsT15Lg",
            "name": "OpenWA account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.data.body }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          416,
          0
        ],
        "id": "65b09c72-2621-428a-aa11-a332b374a701",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "gemma4:31b-cloud",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          400,
          240
        ],
        "id": "dac920f4-214e-4bbf-98aa-2567f4606564",
        "name": "Ollama Chat Model",
        "credentials": {
          "ollamaApi": {
            "id": "ULhS3alID8FAZMvP",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "sessionId": "={{ $('OpenWA Trigger').item.json.sessionId }}",
          "chatId": "={{ $('OpenWA Trigger').item.json.data.chatId }}",
          "message": "={{ $json.output }}"
        },
        "type": "@rmyndharis/n8n-nodes-openwa.openWa",
        "typeVersion": 1,
        "position": [
          768,
          0.9288992291314386
        ],
        "id": "27052762-02e0-4b30-8cab-328eec4ea2a6",
        "name": "Send a text message",
        "credentials": {
          "openWaApi": {
            "id": "03MOf7uO4ZsT15Lg",
            "name": "OpenWA account"
          }
        }
      }
    ],
    "connections": {
      "MongoDB Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenWA Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Ruiz",
    "name": "Version fe592047",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "fe592047-51aa-4bc7-b642-b89bc1a99d53",
  "connections": {
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenWA Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-20T19:51:04.604Z",
  "id": "UZyv5U6vRGz6ywlV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Whatsapp",
  "nodes": [
    {
      "parameters": {
        "databaseName": "models"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1.1,
      "position": [
        528,
        224
      ],
      "id": "449b026a-6413-44ce-89e7-56f4d0b888ae",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "BnGVpEkccvc6ypKL",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "374a60dc-ffa3-4c76-8f83-33ad91227271"
      },
      "type": "@rmyndharis/n8n-nodes-openwa.openWaTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "bb939894-7ba3-4b54-950f-cbfda7617242",
      "name": "OpenWA Trigger",
      "webhookId": "03bfcbed-df56-4186-b449-9a6a5734c588",
      "credentials": {
        "openWaApi": {
          "id": "03MOf7uO4ZsT15Lg",
          "name": "OpenWA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "65b09c72-2621-428a-aa11-a332b374a701",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma4:31b-cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "dac920f4-214e-4bbf-98aa-2567f4606564",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ULhS3alID8FAZMvP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $('OpenWA Trigger').item.json.sessionId }}",
        "chatId": "={{ $('OpenWA Trigger').item.json.data.chatId }}",
        "message": "={{ $json.output }}"
      },
      "type": "@rmyndharis/n8n-nodes-openwa.openWa",
      "typeVersion": 1,
      "position": [
        768,
        0.9288992291314386
      ],
      "id": "27052762-02e0-4b30-8cab-328eec4ea2a6",
      "name": "Send a text message",
      "credentials": {
        "openWaApi": {
          "id": "03MOf7uO4ZsT15Lg",
          "name": "OpenWA account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Tijuana",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2026-05-20T19:51:04.609Z",
      "createdAt": "2026-05-20T19:51:04.609Z",
      "role": "workflow:owner",
      "workflowId": "UZyv5U6vRGz6ywlV",
      "projectId": "Lv3MLaxzN78Feywb"
    }
  ],
  "staticData": {
    "node:OpenWA Trigger": {
      "webhookId": "bd53fa0a-9762-45eb-b888-88546c37490b"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-21T02:04:43.823Z",
  "versionId": "fe592047-51aa-4bc7-b642-b89bc1a99d53"
}